
<div class="header-content">
    <!--Item left-->
    <div class="header__item--left">
        <img id="logo" src="assets/Images/ForAll/Header/Logo.png" alt="Logo" />
        <div class="athene">ATHENE</div>
    </div>
    <!--Item middle - Navigation menu-->
    <div class="header__item--middle text-center" id="myNavigation">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Trang chủ</a>
        <a class="nav-link" routerLink="/forlearner" routerLinkActive="active">Tìm gia sư</a>
        <a class="nav-link" routerLink="/fortutor" routerLinkActive="active">Trở thành gia sư</a>
        <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        <a class="nav-link" routerLink="/intropage" routerLinkActive="active">Giới thiệu</a>
        <a class="icon" (click)="openHeader()">
            <i class="fa fa-bars"></i>
        </a>
 

    </div>
    <!--Item right-->
    <div class="header__item--right">
        <div>
            <input class="signIn-button" type="button" value="Đăng nhập" id="btn-login" (click)="openSignin()">
        </div>
        <!-- The Modal -->
        <div id="myLogin" class="login" [class.d-none]="openlogin" >
            <span class="close-login" (click)="closeLogin()">&times;</span>
            <form [formGroup]="formUpload">
            <p class="popup-title log-in">ĐĂNG NHẬP</p>
            <hr class="underline">
            <div class="login-content">
                <label for="phone" class="form__label mb-3">Số điện thoại:</label> <br>
                <input type="text"   class="form__input " required formControlName="phone" [class.is-invalid]="phoneInput.touched && phoneInput.invalid" >
                <div *ngIf="phoneInput.touched && phoneInput.invalid">
                  <small class="text-danger" *ngIf="phoneInput.errors?.['required']">Không được bỏ trống</small>
                  <small class="text-danger" *ngIf="phoneInput.errors?.['maxlength']">Định dạng không hợp lệ</small>
                  <small class="text-danger" *ngIf="phoneInput.errors?.['minlength']">Định dạng không hợp lệ</small>
                  <small class="text-danger ms-3"  *ngIf="phoneInput.errors?.['pattern']"> Số điện thoại không hợp lệ</small>
              </div> 
                <label for="password" class="form__label mb-3">Mật khẩu:</label><br>
                <!-- <input class="form__input mb-1" type="password"   required formControlName="password" [class.is-invalid]="passwordInput.touched && passwordInput.invalid">
                <small class="text-danger" *ngIf="passwordInput.errors?.['required']">Không được bỏ trống</small> -->
                <input class="form__input mb-1" type="password"   required formControlName="password" >
                <div class="forgotten ">Quên mật khẩu?</div>
                <button type="submit" class="btnLogin">Đăng nhập</button>
                <p class="linkSignUp"> Bạn chưa có tài khoản? <button class="register" type="button" id="btn-register"  (click)="openSignup()">Đăng kí</button></p>
            
            </div>
        </form>
        </div>
        <!-- Sign up -->
        <div>
            <input class="signUp-button" type="button" value="Đăng ký" id="btn-signup"  (click)="openSignup()">
        </div>
         <!-- Pop up Sign in -->
         <div id="mySignup" class="signup" [class.d-none]="opensignup" >
            <span class="close-signup" (click)="closeSignup()">&times;</span>
            <div>
                <p class="popup-title">ĐĂNG KÝ</p>
                <hr class="lineSignUp">
                <h3>Chọn loại tài khoản phù hợp với nhu cầu của bạn</h3>
                <div class="btnCategory">
                <a  routerLink="/form-learner" routerLinkActive="active"><input type="button" value="Học viên"></a> <br>
                <a  routerLink="/form-tutor" routerLinkActive="active"><input type="button" value="Gia sư "></a> 
            </div>
      </div>
    </div>
</div>
</div>
<!-- Header responsive -->
    <div class=" header__item--middle-responsive  " [class.d-none]="closeHeader">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Trang chủ</a>
        <a class="nav-link" routerLink="/forlearner" routerLinkActive="active">Tìm gia sư</a>
        <a class="nav-link" routerLink="/fortutor" routerLinkActive="active">Trở thành gia sư</a>
        <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        <a class="nav-link" routerLink="/intropage" routerLinkActive="active">Giới thiệu</a>
    </div>
   

