<div class="footer-content">
    <!-- Left item -->
    <div class="footer__item--left mt-3">
        <div class="athene">ATHENE</div>
        <p><i class="bi bi-geo-alt-fill"></i> 90 Nam Kỳ Khởi Nghĩa, Phường 9, Quận 1, TP.HCM</p>
        <p><i class="bi bi-telephone-fill"></i> 0392737622</p>
        <p><i class="bi bi-envelope-fill"></i> cskh@hotro.athene.vn</p>
        <div class="logo-display">
            <img class="ministry-logo" src="assets/Images/ForAll/Footer/blue.png" alt="Chứng nhận của Bộ Công Thương">
            <img class="ministry-logo" src="assets/Images/ForAll/Footer/Red.png" alt="Chứng nhận của Bộ Công Thương">
        </div>
        <p>@2021 - Bản quyền thuộc về Công ty TNHH Athene</p>
    </div>
    <!-- Middle item - Navigation menu -->
    <div class="footer__item--middle" id="myNavigation">
        <p id="our-rules" class="fw-bold">Về Athene</p>
        <div *ngFor="let p of datas" class="{{isSelect(p) ? 'selected' : ''}}" (click)="onSelect(p)">
            <p class="transform">{{p.name}}</p>
        </div>
        <a class="nav-link text-white pb-1" routerLink="/blog" routerLinkActive="active">Góc chia sẻ</a>
        <a class="nav-link text-white pb-1 mt-1" routerLink="/blog" routerLinkActive="active">Điều khoản sử dụng</a>
        <a class="nav-link text-white pb-1 mt-1" routerLink="/blog" routerLinkActive="active">Hướng dẫn thanh toán</a>
        <a class="nav-link text-white pb-1 mt-1" routerLink="/blog" routerLinkActive="active">Chăm sóc khách hàng</a>
        <a class="nav-link text-white pb-1 mt-1" routerLink="/blog" routerLinkActive="active">Chính sách bảo mật</a>
        <a class="nav-link text-white pb-1 mt-1" routerLink="/" routerLinkActive="active">Trung tâm trợ giúp</a>
    </div>
    <!-- Right item -->
    <div class="footer__item--right">
        <p class="fw-bold">Thanh toán</p>
        <img id="payment-logo" src="assets/Images/ForAll/Footer/payment.jpg" alt="Payment Method">
        <p class="fw-bold">Liên hệ</p>
        <div class="logo-display">
            <img class="contact-logo" style="height:2rem" src="assets/Images/ForAll/Footer/Logo_Facebook.png" alt="Facebook">
            <img class="contact-logo" style="height:1.9rem" src="assets/Images/ForAll/Footer/Logo_Gmail.png" alt="Gmail ">
            <img class="contact-logo" style="height:2rem" src="assets/Images/ForAll/Footer/Logo_Zalo.png" alt="Zalo">
        </div>
        <p class="fw-bold">Tải app Athene ngay</p>
        <div id="download">
            <img class="download-photo" src="assets/Images/ForAll/Footer/QRCode.png" alt="QR Code">
            <img class="download-photo" src="assets/Images/ForAll/Footer/Download.png" alt=" ">
        </div>
    </div>
</div>

<div id="footer-responsive">@2021 - Bản quyền thuộc về Công ty TNHH Athene</div>