<!-- <div id="fb-root"></div>
<-- Your Plugin chat code -->
<!--<div id="fb-customer-chat" class="fb-customerchat">
    </div>
    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "101563828997234");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <-- Your SDK code -->
<!--<script>
window.fbAsyncInit = function() { FB.init({ xfbml: true, version: 'v12.0' }); }; (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
</script> -->
<!-- Banner -->

<!-- <div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active mt-3">
            <img src="assets/Images/HomePage/Banner_Welcome.png" class="d-block  banner-image"  alt="Welcome">
        </div>
        <div class="carousel-item mt-3 ">
            <img  src="assets/Images/HomePage/Banner_BlackFriday.png" class="d-block  banner-image" alt="BlackFriday" >
        </div>
        <div class="carousel-item mt-3">
            <img src="assets/Images/HomePage/Banner_MemberDay.jpg" class="d-block  banner-image" alt="MemberDay" >
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> -->
<img src="assets/Images/HomePage/Banner_Welcome.png" class="d-block  banner-image "  alt="Welcome">
<!-- Tìm gia sư dễ hơn bạn nghĩ -->
<div class="title text-center mt-4 mb-2">Tìm gia sư dễ hơn những gì bạn nghĩ</div>
<div class="user-flow text-white text-center">
    <div class="user__item-left  inner-padding">
        <p class="number">1</p>
        <h4 class="userflow-title">ĐĂNG KÝ, ĐĂNG NHẬP</h4>
        <p>Truy cập và sử dụng các chức năng của website Athene một cách toàn diện</p>
    </div>
    <div class="user__item-middle inner-padding">
        <p class="number">2</p>
        <h4 class="userflow-title">BỘ LỌC TÌM KIẾM</h4>
        <p>Sử dụng bộ lọc để tìm kiếm hồ sơ theo nhu cầu nhanh chóng hơn</p>
    </div>
    <div class="user__item-right inner-padding">
        <p class="number">3</p>
        <h4 class="userflow-title">TẠO HỒ SƠ THEO NHU CẦU</h4>
        <p>Athene cung cấp cho người dùng bộ tiêu chí tạo hồ sơ theo nhu cầu</p>
    </div>
</div>
<!-- Our company content -->
<div class="title text-center">Văn hóa doanh nghiệp</div>
<div class="our-company">
    <div class="company__item--left">
        <div id="vision">
            <p class="title-color">&#10025; Tầm nhìn</p>
            <p>Trở thành nơi kết nối đáng tin cậy cho gia sư và học viên</p>
        </div>
        <div id="mission">
            <p class="title-color">&#10025; Sứ mệnh</p>
            <p>Đem lại cho khách hàng những trải nghiệm tốt nhất</p>
        </div>
        <div id="core-value">
            <p class="title-color">&#10025; Giá trị</p>
            <p>Sáng tạo - Nhiệt huyết - Tiên phong - Trung thực</p>
        </div>
    </div>
    <img id="company-photo" src="assets/Images/HomePage/OurCompany.jpg" alt="">
</div>
<!-- Our strength content -->
<div class="our-strength">
    <div class="title text-center">Ưu điểm của chúng tôi</div>
    <div class="strength-content">
        <div class="strength__item--inside">
            <div class="strength-container">
                <div class="icon-container">
                    <img class="strength-icon" src="assets/Images/HomePage/Easy.png" alt="">
                </div>
                <h4 class="strength-title">Tiện lợi</h4>
                <p>Người dùng có thể dễ dàng sử dụng các chức năng của Athene</p>
            </div>
        </div>

        <div class="strength__item--inside">
            <div class="strength-container">
                <div class="icon-container">
                    <img class="strength-icon" src="assets/Images/HomePage/Design.png" alt="">
                </div>
                <h4 class="strength-title">Thiết kế thanh lịch</h4>
                <p>Giao diện Athene được thiết kế với màu sắc tươi sáng và dễ chịu</p>
            </div>
        </div>
        <div class="strength__item--inside">
            <div class="strength-container">
                <div class="icon-container">
                    <img class="strength-icon" src="assets/Images/HomePage/Savings.png" alt="">
                </div>
                <h4 class="strength-title">Tiết kiệm thời gian, chi phí</h4>
                <p>Tìm gia sư/ học viên theo nhu cầu 1 cách nhanh chóng</p>
            </div>
        </div>
        <div class="strength__item--inside">
            <div class="strength-container">
                <div class="icon-container">
                    <img class="strength-icon" src="assets/Images/HomePage/Strength.png" alt="">
                </div>
                <h4 class="strength-title">Năng động, sáng tạo</h4>
                <p>Athene luôn nỗ lực đem lại những trải nghiệm tốt nhất cho khách hàng.</p>
            </div>
        </div>
    </div>
</div>
<!-- About us content -->
<div class="about-us">
    <div class="us__item--right">
        <img id="us-photo" src="assets/Images/HomePage/AboutUs.jpg">
    </div>
    <div class="us__item--right">
        <div class="title">Về chúng tôi</div>
        <p>Chào mừng bạn đến với <span>ATHENE – GIẢI PHÁP TÌM KIẾM GIA SƯ DỄ DÀNG</span> .
            <span>Athene</span> là một website hỗ trợ tìm kiếm gia sư trực tuyến trên địa bàn thành phố Hồ Chí Minh.
            <br>Chúng tôi - <span>Athene</span> luôn đặt chất lượng cũng như uy tín lên hàng đầu, tất cả vì sự hài lòng của bạn!
        </p>
        <p id="button-position"><a routerLink="/intropage" routerLinkActive="active"><button>Xem thêm</button></a></p>
    </div>
</div>