<!-- <div id="fb-root"></div>

<-- Your Plugin chat code -->
<!--<div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "101563828997234");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <-- Your SDK code -->
<!--<script>
window.fbAsyncInit = function() { FB.init({ xfbml: true, version: 'v12.0' }); }; (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
</script> -->


<!-- Banner -->

<div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active mt-3">
            <img src="assets/Images/HomePage/Banner_Welcome.png" class="d-block w-100" style="height: 25rem;" alt="Welcome">
        </div>
        <div class="carousel-item mt-3">
            <img src="assets/Images/HomePage/Banner_BlackFriday.png" class="d-block w-100" alt="BlackFriday">
        </div>
        <div class="carousel-item mt-3">
            <img src="assets/Images/HomePage/Banner_MemberDay.jpg" class="d-block w-100" alt="MemberDay">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row">
    <div class="text-center m-4 h2">Tìm gia sư dễ hơn những gì bạn nghĩ</div>
    <div class="col-ms-4 col-md-4 text-center text-white" style="background-color:#3EB8D7 ;" *ngFor="let h of homepages">
        <p class="number">{{h.id}}</p>
        <h4 class="h5 ">{{h.title1}}</h4>
        <p>{{h.content1}}</p>
    </div>
</div>
<div class="row">
    <div class="text-center m-4 h2 ">Văn hóa doanh nghiệp</div>
    <div id="vision" class="col-md-8" *ngFor="let h of homepages ">
        <p class="title-color"> {{h.title2}}</p>
        <p>{{h.content2}}</p>
    </div>
    <div class="col-md-4" *ngFor="let h of homepages ">
        <img id="company-photo " src="http://localhost:3000/{{h.thumbPathOur}} " alt=" ">
    </div>
</div>
<div class="row">
    <div class="text-center m-4 h2">Ưu điểm của chúng tôi</div>
    <div class="col-sm-12 col-md-3 text-center text-white" style="background-color:#3EB8D7 ;" *ngFor="let h of homepages">
        <div class="icon-container ">
            <img class="strength-icon " src="http://localhost:3000/{{h.thumbPath3}}" alt=" ">
        </div>
        <h4 class="strength-title ">{{h.title3}}</h4>
        <p>{{h.content3}}</p>
    </div>
</div>
<div class="row">
    <div class="about-us col-md-3 ">
        <div class="us__item--right ">
            <img *ngFor="let h of homepages" id="us-photo " src="http://localhost:3000/{{h.thumbPath}} ">
        </div>
        <div class="us__item--right col-md-9 ">
            <div class="title" style="text-align: left; ">Về chúng tôi</div>
            <div *ngFor="let h of homepages">
                <p>{{h.title}}</p>
                <span>{{h.content}}</span>
            </div>
            <p id="button-position "><button routerLink="/intropage " routerLinkActive="active ">Xem thêm</button>
            </p>
        </div>




        <!-- User flow content -->