<!-- Intro content -->
<div class="filter-container">
    <div class="filter__item">
        <div class="mb-2 mt-3"><i class="bi bi-pencil-square filter-icon"></i>
            <a routerLink="/form-find-learner" routerLinkActive="active" > Đăng ký tìm học viên</a>
        </div>
        <div class="filter-spacingleft"><i class="bi bi-newspaper filter-icon"></i>
            <a href="http://localhost:3000/contract.pdf "> Hợp đồng gia sư</a>
        </div>
        <div class="filter-spacingleft "><i class="bi bi-signpost-2-fill filter-icon "></i>
            <a href="http://localhost:3000/instruction.pdf "> Hướng dẫn nhận lớp</a>
        </div>


    </div>
    <div class="filter__item ">
        <div class="filter-spacing "><select class="filter-selection " id="district " name="district ">
            <option value="quanhuyen ">Quận/Huyện</option>
            <option value="thanhphothuduc ">Thành phố Thủ Đức</option>
            <option value="quan1 ">Quận 1</option>
            <option value="quan3 ">Quận 3</option>
            <option value="quan4 ">Quận 4</option>
            <option value="quan5 ">Quận 5</option>
            <option value="quan6 ">Quận 6</option>
            <option value="quan7 ">Quận 7</option>
            <option value="quan8 ">Quận 8</option>
            <option value="quan10 ">Quận 10</option>
            <option value="quan11 ">Quận 11</option>
            <option value="quan12 ">Quận 12</option>
            <option value="quanbinhthanh ">Quận Bình Thạnh</option>
            <option value="quanbinhtan ">Quận Bình Tân</option>
            <option value="quangovap "> Quận Gò Vấp</option>
            <option value="quanphunhuan ">Quận Phú Nhuận</option>
            <option value="quantanbinh ">Quận Tân Bình</option>
            <option value="quantanphu ">Quận Tân Phú</option>
            <option value="huyenbinhchanh ">Huyện Bình Chánh</option>
            <option value="huyencangio ">Huyện Cần Giờ</option>
            <option value="huyencuchi ">Huyện Củ Chi</option>
            <option value="huyenhocmon ">Huyện Hóc Môn</option>
            <option value="huyennhabe ">Huyện Nhà Bè</option>
            </select>
        </div>
        <div><select class="filter-selection" id="class" name="class">
            <option value="lophoc" >Lớp học</option>
            <option value="lop1">Lớp 1</option>
            <option value="lop2">Lớp 2</option>
            <option value="lop3">Lớp 3</option>
            <option value="lop4">Lớp 4</option>
            <option value="lop5">Lớp 5</option>
            <option value="lop6">Lớp 6</option>
            <option value="lop7">Lớp 7</option>
            <option value="lop8">Lớp 8</option>
            <option value="lop9">Lớp 9</option>
            <option value="lop10">Lớp 10</option>
            <option value="lop11">Lớp 11</option>
            <option value="lop12">Lớp 12</option>
            <option value="luyenthidaihoc">Luyện thi đại học</option>
        </select>
    </div>
    </div>
    <div class="filter__item ">
        <div class="filter-spacing "><select class="filter-selection " id="level " name="level ">
                <option value="trinhdo " >Trình độ</option>
                <option value="lop1 ">Lớp 1</option>
                <option value="lop2 ">Lớp 2</option>
                <option value="lop3 ">Lớp 3</option>
                <option value="lop4 ">Lớp 4</option>
                <option value="lop5 ">Lớp 5</option>
                <option value="lop6 ">Lớp 6</option>
                <option value="lop7 ">Lớp 7</option>
                <option value="lop8 ">Lớp 8</option>
                <option value="lop9 ">Lớp 9</option>
                <option value="lop10 ">Lớp 10</option>
                <option value="lop11 ">Lớp 11</option>
                <option value="lop12 ">Lớp 12</option>
                <option value="luyenthidaihoc ">Luyện thi đại học</option>
            </select>
        </div>
        <div><select class="filter-selection " id="subject " name="subject ">
                <option value="monhoc " >Môn học</option>
                <option value="toan ">Toán</option>
                <option value="ly ">Lý</option>
                <option value="hoa ">Hóa</option>
                <option value="van ">Văn</option>
                <option value="su ">Sử</option>
                <option value="dia ">Địa</option>
                <option value="ngoaingu ">Ngoại ngữ</option>
                <option value="baobai ">Báo bài</option>
                <option value="khac ">Khác</option>
            </select>
        </div>
    </div>
    <div class="filter__item ">
        <div class="filter-spacing "><select class="filter-selection " id="gender " name="gender ">
            <option value="gioitinh ">Giới tính</option>
            <option value="nam "> Nam</option>
            <option value="nu "> Nữ</option>
           
        </select>
        </div>
        <div class="search-container ">
            <input onclick="searchForStudent() " class="filter-search text-white " type="button " value="Tìm kiếm ">
            <i class="bi bi-search "></i>
        </div>
    </div>
</div>
<!-- Nội dung -->
<div class="profile-container " >
    <div class="profile__item m-2 p-1 " *ngFor="let t of tutors ">
        <img class="avatar mt-3 " src="http://localhost:3000/{{t.LearnerInfo.Ava}} " alt="Lỗi ">
        <div class="profile__item--right ">
            <div class="profile-name mt-2 mb-3 fw-bold ">{{t.LearnerInfo.Name}}</div>
            <div class="mb-1 "><i class="bi bi-geo-alt-fill profile-icon "></i>{{t.LearnerInfo.Direct}}</div>
            <p><i class="bi bi-person-fill profile-icon "></i> {{t.LearnerInfo.Gender}}</p>
        </div>
        <div class="profile__item--center mx-4 mt-4 ">
            <div class="row px-2 pt-2 ">
                <div class="col-md-4 mb-2 tutor-title">Trình độ:</div>
                <div class="col-md-8 mb-2 tutor-content">{{t.TutorFinding.class}}</div>
                <div class="w-100 "></div>
                <div class="col-md-4 mb-2 tutor-title">Môn đăng ký:</div>
                <div class="col-md-8 mb-2 tutor-content">{{t.TutorFinding.Subject}}</div>
                <div class="w-100 "></div>
                <div class="col-md-4 mb-2 tutor-title">Mức lương: </div>
                <div class="col-md-8 mb-2 tutor-content">{{t.TutorFinding.Fee}}</div>
                <div class="w-100 "></div>
                <div class="col-md-4 mb-4 tutor-title">Yêu cầu:</div>
                <div class="col-md-8 mb-4 tutor-content">{{t.TutorFinding.Request}}</div>
            </div>

        </div>
        <div class="profile__item--below pb-3 ">
            <button class="profile__button text-white " (click)="openConfirm()">Đăng ký nhận lớp</button>

        </div>
    </div>

</div>
<!-- Previous, Next page-->
<!-- <div class="transfer-page row text-center mb-3 ">
    <div class="col ">
        <a href="# "><i class="bi bi-arrow-left "></i>    Trang trước</a>
    </div>
    <div class="col ">
        <a href="# ">Trang sau    <i class="bi bi-arrow-right "></i></a>
    </div>


</div> -->
<div id="myConfirmation" class="confirmation" [class.d-none]="confirm"> 
    <div class="confirmation-content"> 
    <span (click)="openConfirm()" class="close">&times;</span> 
    <p>Bạn chắc chắn muốn gửi yêu cầu tạo lớp tới gia sư này?</p> 
    <div class="confirm-container"> 
    <button id="btn-yes" (click)="clickYes()" class="confirm-btn">Có</button> 
    <button (click)="openConfirm()" class="confirm-btn">Không</button> 
    </div>  
</div>  
</div> 
    
  