.input--1 {
    width: 100%;
    background-color: #D9F1F1;
    height: 3rem;
    margin: 0.5rem;
    font-size: 1.3rem;
}

label {
    font-weight: bold;
    margin: 0rem 0.5rem;
    font-size: 1.2rem;
}

h4 {
    font-weight: 800;
}

p {
    font-size: 1rem
}

.button_container {
    display: flex;
    justify-content: space-between;
}

button {
    width: 20%;
    font-size: 1.3rem;
    border: none;
    background-color: rgb(255, 255, 255, 0);
    font-weight: 650;
}

button:hover {
    color: red;
}