<div class="container">
    <div class="row">
        <h4>
            Chào mừng bạn đến với ATHENE
        </h4>
        <p>Thông tin cá nhân của bạn luôn được bảo mật an toàn</p>
        <hr>
    </div>
    <!-- Row1 -->
    <div class="row">
        <div class="col-6">
            <input class="input--1" type="text" id="" placeholder="Họ và tên lót">
        </div>
        <div class="col-6">
            <input class="input--1" type="text" id="" placeholder="Tên">
        </div>
    </div>
    <!-- Row2 -->
    <div class="row">
        <div class="col-12">
            <input class="input--1" type="text" id="" placeholder="Số điện thoại (bắt buộc)">
        </div>
    </div>
    <!-- Row3-->
    <div class="row">
        <label>Ngày sinh của bạn</label>
        <div class="col-12">
            <input class="input--1" type="text" id="" placeholder="">
        </div>
    </div>
    <!-- Row4 -->
    <div class="row">
        <div class="col-2">
            <label>Giới tính</label>
        </div>
        <div class="col-3"><input type="radio" id="html" name="Gender" value="Nam"> <label for="gender"> &nbsp; Nam</label> </div>
        <div class="col-3"><input type="radio" id="html" name="Gender" value="Nu"> <label for="gender"> &nbsp; Nữ</label> </div>
    </div>
    <!-- Row5 -->
    <div class="row">
        <div class="col-2">
            <label class="align-middle">Địa chỉ</label>
        </div>
        <div class="col-4">
            <input class="input--1" type="text" id="" placeholder="Số nhà">
        </div>
        <div class="col-6">
            <input class="input--1" type="text" id="" placeholder="Đường">
        </div>
    </div>
    <!-- ROW 6 -->
    <div class="row">
        <div class="col-4">
            <input class="input--1" type="text" id="" placeholder="Phường">
        </div>
        <div class="col-4">
            <input class="input--1" type="text" id="" placeholder="Quận/huyện">
        </div>
        <div class="col-4">
            <input class="input--1" type="text" id="" placeholder="Tỉnh/Thành phố">
        </div>
    </div>
    <!-- ROW 7 -->
    <div class="row">
        <div class="col-2">
            <label class="align-middle">Số CCCD</label>
        </div>
        <div class="col-10">
            <input class="input--1" type="text" id="" placeholder="Số nhà">
        </div>
    </div>
    <!-- ROW 8 -->
    <div class="row">
        <div class="col-2">
            <label class="align-middle">Ngày cấp</label>
        </div>
        <div class="col-10">
            <input class="input--1" type="text" id="" placeholder="Số nhà">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input class="input--1" type="text" id="" placeholder="Sinh viên/Cựu sinh viên trường">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input class="input--1" type="text" id="" placeholder="Chuyên ngành">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input class="input--1" type="text" id="" placeholder="Kinh nghiệm">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input class="input--1" type="text" id="" placeholder="Bằng cấp khác">
        </div>
    </div>
    <div class="row button_container">
        <button> Quay lại</button>
        <button> Tiếp theo</button>
    </div>
    <br/>
    <br/>
</div>