.ipbox {
    border: solid black 1.7px;
    margin-top: 10px;
    height: 2.5rem;
    background-color: #D9F1F1;
    width: 100%;
}

.form-container {
    width: 50%;
    margin: 0 auto;
    min-width: 350px;
}

h4 {
    font-weight: 800;
}

p {
    font-size: 1rem
}

label {
    font-weight: bold;
    margin: 0.5rem 0.5rem 0 0;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    font-size: 1.2rem;
    border: none;
    background-color: rgb(255, 255, 255, 0);
    font-weight: 650;
}

button:hover {
    color: red;
}

.gender{
    width: 40%;
}

::placeholder{
    font-size: 15px;
    color: black;
    padding-left: 10px;
}
@media screen and (max-width:800px) {
    .col-3, .col-4,.col-8,.col-9{
        width: 100%;
    }

    label{
        line-height: 2rem;
        margin: 0;
    }
}