<!-- Header -->
<!-- <div>
    <app-header></app-header>
</div> -->

<!-- Body  -->




<div class="profile-container" *ngFor="let p of profiles">
    <img class="cover-image" src="https://timelinecovers.pro/facebook-cover/download/anime-one-piece-luffy-and-ace-facebook-cover.jpg">
    <div class="user-info">
        <img class="user-avatar" src="https://genk.mediacdn.vn/2018/8/23/anh-0-1535019031645146400508.jpg" id="user-avatar">
        <div>
            <label class="btn-avatar">
                <input type="file" name="avatar-image" accept="image/*" onchange="loadAvatar(event)">
                <button><i class='bi bi-camera-fill'></i> </button>
            </label>
            <div class="user-name">
                <h1>{{p.name}}</h1>
                <p>{{p.followers}}</p>
            </div>
        </div>
        <label class="btn-cover">
            <input type="file" name="cover-image" accept="image/*" onchange="loadCover(event)">
            <button> <i class='bi bi-camera-fill'></i> Chỉnh sửa ảnh bìa</button>
        </label>
    </div>

    <hr class="line" />
    <!-- User content -->
    <div class="user-container">
        <!-- Left item -->
        <div class="user__item--intro">
            <div class="sub-title">
                Giới thiệu
            </div>
            <div>{{p.bio}}</div>
            <div class="sub-title">
                Thông tin cá nhân
            </div>
            <div class="information">
                <div class="info-line">
                    <div class="subtitle">Giới tính: </div>
                    <div class="ms-2"> {{p.gender}}</div>
                </div>
                <div class="info-line">
                    <div class="subtitle">Ngày sinh:</div>
                    <div class="ms-2"> {{p.dob | date:"dd/MM/yyyy"}}</div>
                </div>
                <div class="info-line">
                    <div class="subtitle"> Sinh viên trường: </div>
                    <div class="ms-2"> {{p.education}}</div>
                </div>
                <div class="info-line">
                    <div class="subtitle"> Chuyên ngành: </div>
                    <div class="ms-2"> {{p.education}}</div>
                </div>
                <div class="info-line">
                    <div class="subtitle">Đã học tại: </div>
                    <div class="ms-2"> {{p.wentTo}}</div>
                </div>
            </div>
        </div>
        
        <!-- Experience -->
        <div class="content__item--exp">
            <div class="sub-title">
                Kinh nghiệm làm việc
            </div>
            <div class="info-line">
               Exp1
            </div>
            <div class="ms-2"> {{p.Exps.exp1}}</div>
            <div class="info-line">
                Exp2
            </div>
            <!-- Achievement -->

            <div class="sub-title">
                Thành tích đạt được
            </div>
            <div class="info-line">
               Achievements1
            </div>
            <div class="info-line">
               Achievements2
            </div>
            <div class="info-line">
                Achievements3
            </div>
            <button class="btn-editcontent">Chỉnh sửa</button>
        </div>
    </div>
    <!-- Right item -->
    <div class="user__item--content">
        <!-- Register class -->
        <div class="content__item--class" >
            <div class="sub-title">
                Lớp đang đăng kí
            </div>
            <div class="info-line">
                <div class="subtitle">Cấp dạy: </div>
                <div class="ms-2"> {{p.class}}</div>
            </div>
            <div class="info-line">
                <div class="subtitle">Môn dạy: </div>
                <div class="ms-2"> {{p.subject}}</div>
            </div>
            <div class="info-line">
                <div class="subtitle">Giới tính học viên: </div>
                <div class="ms-2"> {{p.learnerGender}}</div>
            </div>
            <div class="info-line">
                <div class="subtitle">Địa điểm dạy: </div>
                <div class="ms-2"> {{p.teachingLocation}}</div>
            </div>
            <div class="info-line">
                <div class="subtitle">Thời gian dạy: </div>
                <div class="ms-2"> {{p.teachingTime}}</div>
            </div>
            <div class="info-line">
                <div class="subtitle">Mức lương mong muốn: </div>
                
            </div>
            <div class="info-line">
                <div class="subtitle"> Lịch học dự kiến: </div>    
                <div class="ms-2"> {{p.timeTable}}</div>
            </div>
            <div class="info-line">
                <div class="subtitle"> Mô tả thêm: </div>
                <div class="ms-2"> {{p.more}}</div>
            </div>
            <button class="btn-editcontent">Chỉnh sửa</button>
        </div>
    
    
 



<!-- Footer -->
<!-- <div>
    <app-footer></app-footer>
</div> -->