<!-- <div>
    <app-header></app-header>
</div> -->

<img id="image-header" src="assets/Images/Blog/banner_blog.jpg" alt="Lỗi">
<div class="blog-body">
    <!-- Left Menu -->
    <div class="blog-left">
        <h4 class="left-title">Bài viết mới nhất</h4>
        <ul>
            <li><a id="blog1" href="assets/Data/Blog_1.html" target="hienthi">Lợi ích của việc trở thành gia sư</a></li>
            <br>
            <li><a href="assets/Data/Blog_2.html" target="hienthi">Một số phương pháp học tập hiểu quả</a></li>
            <br>
            <li><a href="assets/Data/Blog_3.html" target="hienthi">Phương pháp học tốt Toán - Lý - Hóa</a></li>
            <br>
            <li><a href="assets/Data/Blog_4.html" target="hienthi">Tìm gia sư có thật sự cần thiết không</a></li>
            <br>
            <li><a href="assets/Data/Blog_5.html" target="hienthi">Nên giảng dạy thế nào cho học sinh lười học</a></li>
        </ul>
    </div>
    <!-- Right Content -->
    <div class="blog-right">
        <iframe allowfullscreen src="assets/Data/Blog-main.html" frameborder="0" name="hienthi" style="height: 800px; width: 100%;"></iframe>
    </div>
    <!-- Mat thanh cuon laf scrolling=no -->
</div>
<!-- Footer -->
<!-- <div>
    <app-footer></app-footer>
</div> -->