<!-- <div>
    <app-header></app-header>
</div> -->


<img id="image-header" src="assets/Images/Blog/banner_blog.jpg" alt="Lỗi">

<div class="blog-body">
    <!-- -- Left Menu -->
    <div class="blog-left">
        <h4 class="left-title">Bài viết mới nhất</h4>
        <ul>
            <li><a routerLink="/blog/blog_01" routerLinkActive="active">Lợi ích của việc trở thành gia sư</a></li>
            <br>
            <li><a routerLink="/blog/blog_02" routerLinkActive="active">Một số phương pháp học tập hiệu quả</a></li>
            <br>
            <li><a routerLink="/blog/blog_03" routerLinkActive="active">Phương pháp học tốt Toán - Lý - Hóa</a></li>
            <br>
            <li><a routerLink="/blog/blog_04" routerLinkActive="active">Tìm gia sư có thật sự cần thiết không</a></li>
            <br>
            <li><a routerLink="/blog/blog_05" routerLinkActive="active">Nên giảng dạy thế nào cho học sinh lười học</a></li>
        </ul>
    </div>
    <!-- Right Content -->
    <div class="blog-right">
        <b style="font-weight: bold; margin-left:3rem; font-size: 1.4rem;">Tin tức</b>
        <div class="row mb-3 mt-3 item" *ngFor="let p of blogs" class="{{isSelect(p) ? 'selected' : ''}}" (click)="onSelect(p)">
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://localhost:3000/{{p.thumbPath}}">
            </div>
            <div class="col-sm-8 ml-1 p-3">
                <h5 class="fw-bold">{{p.name}}</h5>
                <p id="author">{{p.author}}</p>
                <div class="content-item ">
                    <p>{{p.content}}</p>
                    <h6>{{p.title1}}</h6>
                    <p>{{p.content1}}</p>
                    <h6>{{p.title2}}</h6>
                    <p>{{p.content2}}</p>
                    <h5>{{p.title3}}</h5>
                    <p>{{p.content3}}</p>
                </div>
            </div>
        </div>
    </div>