* {
    font-family: 'Roboto';
}
.introImage{
    width: 30%;
}
#intro-banner {
    height: 22rem;
    width: 100%;
}

.intro-page {
    margin: 0 3rem;
}

#title {
    font-size: 1.5em;
    line-height: 3rem;
    padding: 1rem 8rem;
}

.discover-click {
    background-color: #F24E1E;
    border: none;
    height: 3rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.5rem;
}

.content-body {
    display: flex;
    flex-direction: row;
    background-color: #6596B6;
    margin: 0 -3rem;
    height: 10rem;
}

.content-body-forParent {
    height: 15rem !important;
    ;
}

.vertical-text {
    margin: auto 2rem;
}

@media screen and (max-width: 600px) {
    #title{
        font-size: 20px;
        line-height: 40px;
    }
    #images_forStudent {
        height: 14rem;
    }
    .discover-click {
        font-size: 1.5rem;
        width: 15rem;
        height: 4rem;
    }
    .content-body {
        margin: 3rem -3rem;
    }
}

@media screen and (max-width: 900px) {
    #title {
        padding: 1rem 8%;
    }
}
@media screen and (max-width: 700px) {
    .intro-page{
        font-size: 15px
    }
}