<p>Chi tiết thức uống</p>
<div>
    <p>Bạn đã chọn thức uống số #{{selectedId}}</p>
    <h2>#{{selectedName}}</h2>
    <p id="author " style="margin-top:0 ">#{{selectedAuthor}}</p>
    <div class="content-item ">
        <p>#{{selectedContent}}</p>
        <h5>#{{selectedTitle1}}</h5>
        <p>#{{selectedContent1}}</p>
        <h5>#{{selectedTitle2}}</h5>
        <p>#{{selectedContent2}}</p>
        <h5>#{{selectedTitle3}}</h5>
        <p>#{{selectedContent3}}</p>
    </div>
    <div>
        <button (click)="goBack()">Back</button>
    </div>