<!-- Intro content -->
<div class="filter-container">
    <div class="filter__item">
        <div class="filter-spacing"><i class="bi bi-pencil-square filter-icon"></i>
            <a href="#"> Đăng ký tìm gia sư</a>
        </div>
        <div><i class="bi bi-list-task filter-icon"></i>
            <a href="http://localhost:3000/price.pdf "> Bảng giá tham khảo</a>
        </div>

    </div>
    <div class="filter__item">
        <div class="filter-spacing"><select class="filter-selection" id="district" name="district">
            <option value="quanhuyen">Quận/Huyện</option>
            <option value="thanhphothuduc">Thành phố Thủ Đức</option>
            <option value="quan1">Quận 1</option>
            <option value="quan3">Quận 3</option>
            <option value="quan4">Quận 4</option>
            <option value="quan5">Quận 5</option>
            <option value="quan6">Quận 6</option>
            <option value="quan7">Quận 7</option>
            <option value="quan8">Quận 8</option>
            <option value="quan10">Quận 10</option>
            <option value="quan11">Quận 11</option>
            <option value="quan12">Quận 12</option>
            <option value="quanbinhthanh">Quận Bình Thạnh</option>
            <option value="quanbinhtan">Quận Bình Tân</option>
            <option value="quangovap"> Quận Gò Vấp</option>
            <option value="quanphunhuan">Quận Phú Nhuận</option>
            <option value="quantanbinh">Quận Tân Bình</option>
            <option value="quantanphu">Quận Tân Phú</option>
            <option value="huyenbinhchanh">Huyện Bình Chánh</option>
            <option value="huyencangio">Huyện Cần Giờ</option>
            <option value="huyencuchi">Huyện Củ Chi</option>
            <option value="huyenhocmon">Huyện Hóc Môn</option>
            <option value="huyennhabe">Huyện Nhà Bè</option>
            </select>
        </div>
        <div><select class="filter-selection " id="caphoc " name="class ">
            <option value="caphoc ">Cấp học</option>
            <option value="tieuhoc ">Tiểu học</option>
            <option value="trunghoccoso ">Trung học cơ sở</option>
            <option value="trunghocphothong ">Trung học phổ thông</option>
            <option value="khac ">Khác</option>
        </select>
        </div>
    </div>
    <div class="filter__item">
        <div class="filter-spacing"><select class="filter-selection" id="level" name="level">
                <option value="trinhdo" >Trình độ</option>
                <option value="sinhvien">Sinh viên</option>
                <option value="giaovien">Giáo viên</option>
            </select>
        </div>
        <div><select class="filter-selection" id="subject" name="subject">
                <option value="monhoc" >Môn học</option>
                <option value="toan">Toán</option>
                <option value="ly">Lý</option>
                <option value="hoa">Hóa</option>
                <option value="van">Văn</option>
                <option value="su">Sử</option>
                <option value="dia">Địa</option>
                <option value="ngoaingu">Ngoại ngữ</option>
                <option value="baobai">Báo bài</option>
                <option value="khac">Khác</option>
            </select>
        </div>
    </div>
    <div class="filter__item">
        <div class="filter-spacing"><select class="filter-selection" id="gender" name="gender">
            <option value="gioitinh">Giới tính</option>
            <option value="nam">Nam</option>
            <option value="nu">Nữ</option>
        </select>
        </div>
        <div class="search-container">
            <input onclick="searchForStudent()" class="filter-search text-white" type="button" value="Tìm kiếm">
            <i class="bi bi-search"></i>
        </div>
    </div>
</div>
<!-- Nội dung -->
<div class="profile-container">
    <div class="profile__item m-2 p-1" *ngFor="let l of learners">
        <img class="avatar mt-3" src="http://localhost:3000/{{l.TutorInfo.Ava}}" alt="Lỗi">
        <div class="profile__item--right">
            <div class="profile-name mt-2 mb-3 fw-bold">{{l.TutorInfo.Name}}</div>
            <div class="mb-1"><i class="bi bi-geo-alt-fill profile-icon"></i>{{l.TutorInfo.Direct}}</div>
            <p><i class="bi bi-person-fill profile-icon"></i> {{l.TutorInfo.Gender}}</p>
        </div>
        <div class="profile__item--center mx-4 mt-4 ">
            <div class=" row px-3 pt-2 ">
                <div class="col-md-3 mb-2 learner-title">Môn học:</div>
                <div class="col-md-9 mb-2 learner-content">{{l.LearnerFinding.Subject}}</div>
                <div class="w-100"></div>
                <div class="col-md-3 mb-2 learner-title">Cấp học:</div>
                <div class="col-md-9 mb-2 learner-content">{{l.LearnerFinding.Caphoc}}</div>
                <div class="w-100"></div>
                <div class="col-md-3 mb-2 learner-title">Học phí: </div>
                <div class="col-md-9 mb-2 learner-content">{{l.LearnerFinding.Fee}}</div>
                <div class="w-100"></div>
                <div class="col-md-3 mb-4 learner-title">Học vấn:</div>
                <div class="col-md-9 mb-4 learner-content">{{l.TutorInfo.Education}}</div>
            </div>
        </div>
        <div class="profile__item--below pb-3">
            <button class="profile__button text-white" (click)="openConfirm()">Đăng ký </button>
            <button class="profile__button text-white" routerLink="/tutorprofile" routerLinkActive="active">Xem Profile </button>
        </div>
    </div>

</div>
<!-- Previous, Next page-->
<!-- <div class="transfer-page row text-center mb-3">
    <div class="col ">
        <a href="# "><i class="bi bi-arrow-left"></i>    Trang trước</a>
    </div>
    <div class="col">
        <a href="#">Trang sau    <i class="bi bi-arrow-right"></i></a>
    </div>
</div> -->

<div id="myConfirmation" class="confirmation" [class.d-none]="confirm">
    <div class="confirmation-content">
        <span (click)="openConfirm()" class="close">&times;</span>
        <p>Bạn chắc chắn muốn gửi yêu cầu tạo lớp tới gia sư này?</p>
        <div class="confirm-container">
            <button id="btn-yes" (click)="clickYes()" class="confirm-btn">Có</button>
            <button (click)="openConfirm()" class="confirm-btn">Không</button>
        </div>
    </div>
</div>